.highlight {
  position: relative;
}

.highlight pre {
  padding-right: 80px;
}

.copy-button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 0;
  border-radius: 3px;
  font-size: 1em;
  line-height: 1.8;
  text-align: center;
  background-color: #777;
}

.copy-button:hover {
  background-color: #666;
}
